body{
    background-color: royalblue;
    margin: 10px;
    padding: 0px;

}
.flex-container{
    background-color: seagreen;
    width: 600px;
    height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bella{
    background-color: salmon;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}